.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container section.form form a {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2;
}

.logon-container section.form form a svg {
    margin-right: 10px;
}

.logon-container section.form form a:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1080px) {
    img.heroes-img {
        display: none;
    }

    img.logo-img {
        width: 100%;
    }

    .logon-container {
        align-items: center;
        align-content: center;
    }

    .logon-container section.form {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
}
